/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background-color: #1c454f;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor centrado */
.contenedor {
    background-color: #70daab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

/* Estilo del logo */
.logo {
    width: 150px; /* Tamaño ajustado del logo */
    height: auto;
    margin-bottom: 20px;
}

/* Página de gracias */
#gracias {
    display: none;
}

/* Ocultar contenedores */
.oculto {
    display: none;
}
